.container {
	display: flex;
	gap: .5rem;
}

.checkbox {
	display: flex;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 0.25rem;
	backdrop-filter: blur(20px);
}

.checkbox.checked {
	background: url(./content/check-mark.svg), var(--primary-gradient);
}

.checkbox.unchecked {
	border: 1px solid var(--checkbox-inactive-border-color);
}

.label {
	line-height: 1.5rem;
	color: #C2C2C2;
}