@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Basic color */
  --white: #fff;
  --black: #4e4e4e;
  --grey: #c2c2c2;
  --primary-gradient: linear-gradient(
    135deg,
    #ff81bc 0%,
    #ff8787 49.48%,
    #ffb289 100%
  );

  /* Background */
  --primary-button-bg: var(--primary-gradient);
  --secondary-button-bg: var(--white);

  /* Text */
  --primary-button-color: var(--white);
  --secondary-button-color: var(--black);
  --input-color: var(--black);
  --input-placeholder-color: var(--grey);
  --input-border-color: var(--grey);
  --input-active-border-color: var(--black);

  /* Border */
  --secondary-button-border-color: var(--grey);
  --checkbox-inactive-border-color: var(--grey);
}

body {
  margin: 0;
  font-family: -apple-system, Onest, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}
