.button {
	display: flex;
	height: 3.25rem;
	padding: 0.75rem 2rem;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
	border-radius: 2.5rem;
}

.primary {
	background: var(--primary-button-bg);
	color: var(--primary-button-color);
}

.secondary {
	background-color: var(--secondary-button-bg);
	color: var(--secondary-button-color);
	border: 1px solid var(--secondary-button-border-color);
}