.banner {
	display: flex;
	flex-direction: column;
	width: 30.5rem;
	padding: 2.5rem;
	gap: 1.25rem;
	border-radius: 2.5rem;

	/* TODO: Extract the color to file with variables. */
	border: 1px solid rgba(255, 255, 255, 0.60);
	background: rgba(255, 255, 255, 0.30);

	/* background-blur */
	backdrop-filter: blur(20px);
}

.title {
	font-size: 4rem;
	font-weight: 700;
	line-height: 4.5rem;
}

.call {
	width: 15.3125rem;
	font-size: 1rem;
}

.highlight {
	color: #FF8787;
}