.container {
	position: relative;
}

.input {
	display: flex;
	height: 3.25rem;
	padding: .75rem 2rem;
	gap: 1.25rem;
	border-radius: 2.5rem;
	border: 1px solid var(--input-border-color);
	color: var(--input-color);
	outline: none;
}

.input.password {
	padding-right: 4.75rem;
}

.input::placeholder {
	color: var(--input-placeholder-color);
}

.input:focus {
	border-color: var(--input-active-color-border);
}

.passwordIcon {
	position: absolute;
	top: 0;
	right: 2rem;
	bottom: 0;
	margin: auto 0;
	width: 1.5rem;
	height: 1.5rem;
	background: url(./content/show.svg);
	cursor: pointer;
}